
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<body style="background-color:ui-02">
<label class = "title" i18n="label|Label for apptitle@@apptitle-label">
Database  Browser
</label>  
 
<div class ="large-window-padding">
 
  <div  class="row-in-flex margin-bottom-ten-px">
    <div class = "row-in-flex dropdown-background width-35">
    <ibm-dropdown #connectionDropDown class="bx--dropdown" style="order:1" type="single" placeholder="Select a connection"
    i18n-placeholder="search placeholder|Placeholder for select conn@@select-conn-placeholder"     size="lg" 
    	(selected)="onSelectConnection($event)">
      
      <ibm-dropdown-list class ="max-height-dropdown" [items]="connectionsDisplay">
      </ibm-dropdown-list>
    </ibm-dropdown>
     <button ibmButton="ghost" size="md" style="order:2" i18n="button title|Title of add connection button@@add-connection-button-title" (click)="addConnectionModal()" type="button">
      Add    
    </button>
        
     
    </div>
 
      
      
    <div class="column-in-flex">
      <label label class = "bx--label" >{{dbbrowserParameters==null?" ":dbbrowserParameters.address}}</label>
      <button ibmButton="ghost" size="sm" i18n="button title|Title of connect to system button@@connect-to-system-button-title" (click)="changeSystemModal()">
        Connect to system
      </button>
    </div>
  </div>
 
  <ibm-tabs >
  	<ibm-tab heading='New SQL Query' i18n-heading="search heading|Heading for new sql@@new-sql-heading"   (selected)="showNewSQLContent()" [active]="true">
    </ibm-tab>
    <ibm-tab heading='Recent Queries' i18n-heading="search heading|Heading for recent sql@@recent-sql-heading"
    (selected)="showRecentSQLContent()"[active]="false">
    </ibm-tab>
  </ibm-tabs>

  <div id = "queryArea" ibmTextArea class="dbbrowser-editor margin-top-ten-px margin-bottom-ten-px" (keyup)="checkEditor()"></div>

  <button #sendQueryButton ibmButton="primary" class="margin-top-ten-px margin-bottom-ten-px" 
  i18n="button title|Title of send query button@@send-query-button-title" 
  (click)="sendQuery()" value="Send">
    Send Query
  </button>

 
  <div class="row-in-flex" *ngIf="showResultTable "> 
  	<label label   class="margin-left-ten-px standard-label" i18n="label|Label for result@@result-label">Results</label>
    <button #exportButton ibmButton="ghost" (click)="exportData()" i18n="button title|Title of export button@@export-button">
      Export
    <!-- TODO not sure why this is not working. inline svg would cause errors for internationalization <img src="/ZLUX/plugins/org.zowe.dbbrowser/web/assets/launch.svg"/>  -->
    </button>
    
  </div>
   
   
  <ibm-table #ibmTable class = "bx--data-table-v2" [showSelectionColumn]="false" [striped]="false" size="md" (sort)="onColumnSort($event)" *ngIf="showResultTable" [model]="resultTableModel">  
  
  </ibm-table>
  
 
  <ibm-pagination *ngIf="showResultTable " [model]="paginationModel" (selectPage)="onPageSelect($event)">
 
  </ibm-pagination>  
   
   
  <div *ngIf="viewChangeSystemModal">
    <ibm-modal #modal [size]="sm">
      <form [formGroup]="profileForm" (ngSubmit)="connect()">

      <ibm-modal-header class="change-system-label" i18n="label|Label for connect to system@@connect-to-system-label" (closeSelect)="changeSystemModal()">Connect to system</ibm-modal-header>
        <section class="modal-body columnFlex">
          <ibm-label class="padding-top-and-buttom-px" labelState="success">
            <label  class = "standard-label " i18n="label|Label for address@@address-label">Address</label>
            <input type="text" class="bx--text-input" formControlName="zssAddress" >
          </ibm-label>
      
          <ibm-label class="padding-top-and-buttom-px"  labelState="success">
            <label   class = "standard-label " i18n="label|Label for username@@username-label">Username</label>
            <input type="text" class="bx--text-input" formControlName="username">
          </ibm-label>
          
          <ibm-label class="padding-top-and-buttom-px"  labelState="success">
            <label   class = "standard-label " i18n="label|Label for password@@password-label">Password</label>
            <input type="password" class="bx--text-input" formControlName="password">
          </ibm-label>
        </section>
      <ibm-modal-footer >
        <div class = "footer">
        <button ibmButton="secondary" i18n="button title|Title of cancel button@@cancel-button-title"  (click)="changeSystemModal()">Cancel</button>
        <button ibmButton="primary" i18n="button title|Title of connect button@@connect-button-title" type="submit">Connect</button>
        </div>
      </ibm-modal-footer>
              </form>

    </ibm-modal> 
  </div>

  
  <div *ngIf="viewAddConnectionModal">
    <ibm-modal #modal [size]="md">
      <form [formGroup]="profileForm" (ngSubmit)="addRemoteConnection()">
      <ibm-modal-header class="change-system-label" i18n="label|Label for add a connection@@add-connection-label" (closeSelect)="addConnectionModal()">Add a connection</ibm-modal-header>
        <section class="modal-body columnFlex">
          <div  class="row-in-flex margin-bottom-ten-px">
            <div class = "column-in-flex width-35 sm-window-padding">
              <ibm-label class="padding-top-and-buttom-px" labelState="success">
              <label  class = "standard-label " i18n="label|Label for address@@address-label">Address</label>
              <input type="text" class="bx--text-input" formControlName="address" >
              </ibm-label>
                 <ibm-label class="padding-top-and-buttom-px" labelState="success">
                <label  class = "standard-label " i18n="label|Label for database@@database-label">Database</label>
                <input type="text" class="bx--text-input" formControlName="database" >
              </ibm-label>
          
              <ibm-label class="padding-top-and-buttom-px" labelState="success">
                <label   class = "standard-label " i18n="label|Label for port@@port-label">Port</label>
                <input type="text" class="bx--text-input" formControlName="port">
              </ibm-label>
        
            </div>
         
            <div class = "column-in-flex width-35 sm-window-padding">
              <ibm-label class="padding-top-and-buttom-px" labelState="success">
                <label   class = "standard-label " i18n="label|Label for nickname@@nickname-label">Nickname</label>
                <input type="text" class="bx--text-input" formControlName="nickname">
              </ibm-label>
              
              <ibm-label class="padding-top-and-buttom-px" labelState="success">
                <label   class = "standard-label " i18n="label|Label for username@@username-label">Username</label>
                <input type="text" class="bx--text-input" formControlName="username">
              </ibm-label>
              
              <ibm-label class="padding-top-and-buttom-px" labelState="success">
                <label   class = "standard-label " i18n="label|Label for password@@password-label">Password</label>
                <input type="password" class="bx--text-input" formControlName="password">
              </ibm-label>
     
            </div>
          </div>
        </section>
      <ibm-modal-footer >
        <div class = "footer">
        <button ibmButton="secondary" i18n="button title|Title of cancel button@@cancel-button-title" (click)="addConnectionModal()">Cancel</button>
        <button ibmButton="primary" i18n="button title|Title of add button@@add-button-title" type="submit">Add</button>
        </div>
      </ibm-modal-footer>
      </form>
    </ibm-modal> 
  </div>

  
  <div class="dbbrowser-spinner-position bx--loading bx--loading--small" >
      <svg *ngIf="resultNotReady" class="bx--loading__svg" viewBox="-75 -75 150 150">
        <circle cx="0" cy="0" r="37.5" />
      </svg>
  </div>
  
  <zlux-popup-manager>
  </zlux-popup-manager>
</div>
</body>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
